
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    background-color: #2c9ca6;
    width: 650px;
    padding: 35px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.15);
    display: grid;
    gap: 25px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}


form {
    display: grid;
    gap: 20px;
}
.password {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}


.name,
.gen-hob,
.file {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.gender, .hobbie {
    padding-top: 5px;
}

.gender label,
.hobbie label {
    font-weight: 500;
}



.email,
.source,
.bio{
    grid-column: span 2;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}


input[type="text"],
select,
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: all 0.2s ease;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: #2c9ca6;
    outline: none;
    box-shadow: 0 0 5px rgba(44,156,166, 0.4);
}

textarea {
    height: 120px;
}


.income {
    display: flex;
    align-items: center;
    gap: 10px;
}


.income-value {
    background: #2c9ca6;
    padding: 6px 12px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}


button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #026e78;
    color: white;
    grid-column: span 2;
    justify-self: end;
    cursor: pointer;
}