

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.container{
    background: darkcyan;
    padding: 30px;
    width: 700px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);

}
input{
    padding: 8px;
    border-radius: 5px;
    
}
h1{
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}


form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
form>div{
    display: flex;
    flex-direction: column;
}
.bio{
    grid-column: span 2;

}
label{
    margin-bottom: 5px;
}
input[type="text"], input[type="file"], select, textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 6px;
font-size: 14px;
background: #f9f9f9;
}
.gender, .hobbie, .source, .income {
flex-direction: column;
}
textarea {
height: 80px;
}
button {
grid-column: span 2;
width: 150px;
justify-self: end;
background: #1abc9c;
padding: 12px;
color: white;
border: none;
border-radius: 8px;
font-size: 16px;
cursor: pointer;
}
